<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.LogMapper">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		accountName,
		module,
		methods,
		actionTime,
		userIP,
		description,
		operTime
	</sql>

	<select id="findLogPage" resultType="com.lanyuan.entity.LogFormMap">
		select
		<include refid="selectId" />
		from ly_log
		where 1 = 1
		<if test="accountName != null and accountName != ''">
			and accountname like '%${accountName}%'
		</if>
		<if test="column != null">
			order by ${column} ${sort}
		</if>
	</select>
</mapper>